@media only screen and (max-width: 900px) {
  .displayNone {
    display: none;
  }
}

/* .sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
  background-color: white;
  box-sizing: border-box;
  padding: 20px;
  text-align: left;
  border-right: 1px solid gray;
} */

